<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cabal" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="fzf" />
  <package id="ghc" />
  <package id="gsudo" />
  <package id="haskell-dev" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="llvm" />
  <package id="luarocks" />
  <package id="make" />
  <package id="msys2" />
  <package id="neovide" />
  <package id="neovim" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="ripgrep" />
  <package id="SQLite" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="yarn" />
</packages>