input {
  keyboard {
    repeat-delay 200
    repeat-rate 36
  }
}

output "eDP-1" {
  mode "3840x2160"
  scale 1.25
}

prefer-no-csd
layout {
  gaps 24
  
  struts {
    top -24
    bottom -24
  }

  center-focused-column "on-overflow"
  
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }
  
  default-column-width { proportion 0.45; }

  focus-ring { 
    width 4 
    active-color "#e15b36"
    inactive-color "#505050"
  }
}

// Animations are pretty nice, actually
// animations { off; }

spawn-at-startup "swaybg" "-c" "#2B504F"
spawn-at-startup "chameleos"
spawn-at-startup "waybar"
spawn-at-startup "waycorner"
spawn-at-startup "fuzzel"


binds {
  Alt+Space { spawn "fuzzel"; }
  
  Mod+M { maximize-column; }
  Mod+Shift+M { fullscreen-window; }
  Mod+Tab repeat=false { toggle-overview; }
  Mod+Q { close-window; }
  Mod+Shift+L { spawn "swaylock"; }
  Mod+Shift+Q { quit; }
  Mod+Shift+Slash { show-hotkey-overlay; }

  // Move the focused window between the floating and the tiling layout.
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }
  // Toggle tabbed column display mode.
  Mod+W { toggle-column-tabbed-display; }

  Mod+Shift+S { screenshot; }


  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }

  Mod+Ctrl+Left  { focus-monitor-left; }
  Mod+Ctrl+Down  { focus-monitor-down; }
  Mod+Ctrl+Up    { focus-monitor-up; }
  Mod+Ctrl+Right { focus-monitor-right; }

  Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  Mod+Shift+Page_Down { move-column-to-workspace-down; }
  Mod+Shift+Page_Up   { move-column-to-workspace-up; }
  Mod+Ctrl+Page_Down { move-workspace-down; }
  Mod+Ctrl+Page_Up   { move-workspace-up; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Ctrl+Home { move-column-to-first; }
  Mod+Ctrl+End  { move-column-to-last; }

  // To avoid scrolling through workspaces really fast, you can use the cooldown-ms property.
  Mod+WheelScrollDown      { focus-column-right; }
  Mod+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+WheelScrollDown { move-column-right; }
  Mod+Ctrl+WheelScrollUp   { move-column-left; }

  // The following binds move the focused window in and out of a column.
  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  // Consume one window from the right to the bottom of the focused column.
  Mod+Comma  { consume-window-into-column; }
  // Expel the bottom window from the focused column to the right.
  Mod+Period { expel-window-from-column; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }


  // Example volume keys mappings for PipeWire & WirePlumber.
  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  // Example media keys mapping using playerctl.
  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

  // Example brightness key mappings for brightnessctl.
  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  // Applications such as remote-desktop clients and software KVM switches may
  // request that niri stops processing the keyboard shortcuts defined here
  // so they may, for example, forward the key presses as-is to a remote machine.
  // It's a good idea to bind an escape hatch to toggle the inhibitor,
  // so a buggy application can't hold your session hostage.
  //
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // Powers off the monitors. To turn them back on, do any input like
  // moving the mouse or pressing any other key.
  // Mod+Shift+P { power-off-monitors; }
}
