input {
  keyboard {
    repeat-delay 200
    repeat-rate 36
  }
}

cursor {
  hide-when-typing
  hide-after-inactive-ms 10000
}

output "eDP-1" {
  mode "3840x2160"
  scale 1.25
}

// Use client side decorations or not - might be useful for dragging
// prefer-no-csd

// Animations are pretty nice, actually
// animations { off; }

layout {
  // set gaps, but not in top and below
  gaps 16
  struts {
    top -16
    bottom -16
  }

  center-focused-column "on-overflow"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.45; }

  focus-ring { off; }
  border {
    width 4
    active-color "#868686"
    inactive-color "#afafaf"
  }

  // You can enable drop shadows for windows.
  shadow { 
    on 
    softness 4
    spread 1
    offset x=2 y=4
    color "#0003"
  }
}

spawn-at-startup "swaybg" "--color=#2c5150"
spawn-at-startup "chameleos"
spawn-at-startup "waybar"
spawn-at-startup "waycorner"
spawn-at-startup "fuzzel"

// Float by default! (why use a tiling wm then... ?)
window-rule {
  open-floating true
  clip-to-geometry true
  geometry-corner-radius 4
}

// Custom sizes for small utility windows
window-rule {
  match app-id="blueman-manager"
  match app-id="nm-connection-editor"
  match app-id="wdisplays"
  default-column-width { fixed 700; }
  default-window-height { fixed 500; }
  default-floating-position x=20 y=20 relative-to="bottom-right"
}

binds {

  Alt+Space       { spawn "fuzzel"; }
  Mod+M           repeat=false { maximize-column; }
  Mod+Shift+M     repeat=false { fullscreen-window; }
  Mod+Tab         repeat=false { toggle-overview; }
  Mod+T           repeat=false { toggle-window-floating; }
  Mod+Q           repeat=false { close-window; }
  Mod+Shift+Q     repeat=false { quit; }
  Mod+Shift+L     { spawn "swaylock"; }
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Shift+S     { screenshot; }

  // Desktop Utilities (also reachable via fuzzel, Alt+Space)
  Mod+P       { spawn "pick-color"; }
  Mod+V       { spawn "clipboard-picker"; }
  Mod+E       { spawn "emoji-picker"; }
  Mod+F       { spawn "thunar"; }
  Mod+S       { spawn "settings-menu"; }
  Mod+Shift+P { spawn "power-menu"; }

  // Move Windows Around
  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Right { move-column-right; }

  Mod+Ctrl+Down       { focus-window-or-workspace-down; } 
  Mod+Ctrl+Up         { focus-window-or-workspace-up; }   
  Mod+Ctrl+J          { focus-window-or-workspace-down; } 
  Mod+Ctrl+K          { focus-window-or-workspace-up; }   
  Mod+Ctrl+Shift+Down { spawn-sh "~/.local/bin/move_conditional.sh down"; }
  Mod+Ctrl+Shift+Up   { spawn-sh "~/.local/bin/move_conditional.sh up"; }
  Mod+Ctrl+Shift+J    { spawn-sh "~/.local/bin/move_conditional.sh down"; }
  Mod+Ctrl+Shift+K    { spawn-sh "~/.local/bin/move_conditional.sh up"; }

  Mod+Ctrl+Left        { focus-monitor-left; }
  Mod+Ctrl+Right       { focus-monitor-right; }
  Mod+Ctrl+H           { focus-monitor-left; }
  Mod+Ctrl+L           { focus-monitor-right; }
  Mod+Ctrl+Shift+Left  { move-column-to-monitor-left; }
  Mod+Ctrl+Shift+Right { move-column-to-monitor-right; }
  Mod+Ctrl+Shift+H     { move-column-to-monitor-left; }
  Mod+Ctrl+Shift+L     { move-column-to-monitor-right; }

  Mod+Home      { focus-column-first; }
  Mod+End       { focus-column-last; }
  Mod+Ctrl+Home { move-column-to-first; }
  Mod+Ctrl+End  { move-column-to-last; }

  // To avoid scrolling through workspaces really fast, you can use the cooldown-ms property.
  Mod+WheelScrollDown      { focus-column-right; }
  Mod+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+WheelScrollDown { move-column-right; }
  Mod+Ctrl+WheelScrollUp   { move-column-left; }

  // The following binds move the focused window in and out of a column.
  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  // Consume one window from the right to the bottom of the focused column.
  Mod+Space { consume-or-expel-window-right; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }


  // Example volume keys mappings for PipeWire & WirePlumber.
  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  // Example media keys mapping using playerctl.
  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

  // Example brightness key mappings for brightnessctl.
  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  // Applications such as remote-desktop clients and software KVM switches may
  // request that niri stops processing the keyboard shortcuts defined here
  // so they may, for example, forward the key presses as-is to a remote machine.
  // It's a good idea to bind an escape hatch to toggle the inhibitor,
  // so a buggy application can't hold your session hostage.
  //
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // Powers off the monitors. To turn them back on, do any input like
  // moving the mouse or pressing any other key.
  // Mod+Shift+P { power-off-monitors; }
}
