"General extra plugins
set easymotion
set smartcase
set hlsearch
set wrapscan
set surround
set multiple-cursors
set clipboard+=unnamed
set ideajoin
set sneak

let mapleader ="\<Space>"

nnoremap <Space> :action LeaderAction<cr>
vnoremap <Space> :action LeaderAction<cr>

"The conflict resolvers:
sethandler <A-X> a:ide
sethandler <C-2> a:ide
sethandler <C-S-2> a:ide
sethandler <C-6> a:ide
sethandler <C-S-6> a:ide
sethandler <C-;> n-v:vim i:ide
sethandler <C-S-;> n-v:vim i:ide
sethandler <C-A> a:ide
sethandler <C-B> n-v:vim i:ide
sethandler <C-C> n-v:vim i:ide
sethandler <C-D> n-v:vim i:ide
sethandler <C-E> n-v:vim i:ide
sethandler <C-F> n-v:vim i:ide
sethandler <C-G> n-v:vim i:ide
sethandler <C-H> n-v:vim i:ide
sethandler <C-I> n-v:vim i:ide
sethandler <C-J> n-v:vim i:ide
sethandler <C-K> a:vim
sethandler <C-L> n-v:vim i:ide
sethandler <C-M> n-v:vim i:ide
sethandler <C-N> a:ide
sethandler <C-O> n-v:vim i:ide
sethandler <C-P> n-v:vim i:ide
sethandler <C-R> n-v:vim i:ide
sethandler <C-Q> a:ide
sethandler <C-S> a:ide
sethandler <C-T> n-v:vim i:ide
sethandler <C-U> n-v:vim i:ide
sethandler <C-V> n-v:vim i:ide
sethandler <C-W> a:vim
sethandler <C-X> n-v:vim i:ide
sethandler <C-Y> n-v:vim i:ide
sethandler <C-[> n-v:vim i:ide
sethandler <C-\> n-v:vim i:ide
sethandler <C-]> n-v:vim i:ide
